name: Mypy check

on:
  pull_request:
  push:
    branches: master


jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Setup Python
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5
        with:
          python-version: "3.12"
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      - name: Run Tox
        id: mypy-run
        run: tox -e mypy
        continue-on-error: true
      - name: Report if mypy has gone wrong.
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '*Warning*: The **mypy** type checker has found some errors. See the mypy job for details'
            })
        if: steps.mypy-run.outcome == 'failure'
