name: Mypy check

on:
  pull_request:
  push:
    branches: master


jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.13"
      - name: Install Tox
        run: pip install tox
      - name: Install Poetry
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
      - name: Run Tox
        id: mypy-run
        run: tox -e mypy
        continue-on-error: true
      - name: Report if mypy has gone wrong.
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: '*Warning*: The **mypy** type checker has found some errors. See the mypy job for details'
            })
        if: steps.mypy-run.outcome == 'failure'
